.popup__save {
  cursor: pointer;
  background: #000;
  border-radius: 2px;
  border: 0;
  width: 100%;
  max-height: 50px;
  margin: 45px auto 0;
  padding-top: 14px;
  padding-bottom: 18px;

  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__save {
    max-width: 238px;
    margin: 15px auto 0;
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 17px;
  }
}